div.footerBar{
    position:fixed;
    left:0;
    bottom:0;
    height:30px;
    width:100%;
}
div.footerBar div{
    display: inline-block;
    float: left;
    padding-left: 10px;
}
div.footerBar div.floatRight{
    float: right;
    padding-right: 10px;
}